<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Readme for 01402-Service.cs</title>
</head>
<body>
    <h3>(Context level) Readme for 01402-Service.cs</h3>

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Type
            </td>
            <td>
                C# Model Service Interface. Model Service is for sending/receiving back-end data.
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                <strong style="color:green">Active.</strong>
            </td>
        </tr>
        <tr>
            <td>
                Recomended folder
            </td>
            <td>
                /XXX  (where XXX is a name of the given View)
            </td>
        </tr>
        <tr>
            <td>
                Recomended Project
            </td>
            <td>
                ModelServicesModule    (Prism Module for the given View)
            </td>
        </tr>
        <tr>
            <td>
                Recomended project type
            </td>
            <td>
                Class Library
            </td>
        </tr>
        <tr>
            <td>
                Generator group
            </td>
            <td>
                View level
            </td>
        </tr>
    </table>


    <h4>
        <strong>
            <u>Remark</u>
        </strong>
    </h4>
    Declares methods of Model Service class.<p />
    Please generate the following list of classes and interfaces to implement sending/receiving back-end data for the given view:

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Interface
            </td>
            <td>
                01100-Interface.cs
            </td>
        </tr>
        <tr>
            <td>
                Interface
            </td>
            <td>
                01200-Page.interface.cs
            </td>
        </tr>
        <tr>
            <td>
                Interface
            </td>
            <td>
                01300-Filter.interface.cs
            </td>
        </tr>
    </table>

</body>
</html>