<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Readme for 00260-IColumnSelectorItemDefInterface.cs</title>
</head>
<body>
    <h3>(Context level) Readme for 00260-IColumnSelectorItemDefInterface.cs</h3>

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Type
            </td>
            <td>
                C# Interface
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                <strong style="color:green">Active.</strong>
            </td>
        </tr>
        <tr>
            <td>
                Recomended folder
            </td>
            <td>
                /Interfaces
            </td>
        </tr>
        <tr>
            <td>
                Recomended Project
            </td>
            <td>
                /shared/CommonInterfacesClassLibrary  (Class Library)
            </td>
        </tr>
        <tr>
            <td>
                Recomended project type
            </td>
            <td>
                Class Library
            </td>
        </tr>
        <tr>
            <td>
                Generator group
            </td>
            <td>
                Context level
            </td>
        </tr>
    </table>


    <h4>
        <strong>
            <u>Remark</u>
        </strong>
    </h4>
    It Is used by Feature user controls


</body>
</html>