<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Readme for 01360-KeyAuthenticator.php</title>
</head>
<body>
    <h3>(Context level) Readme for 01360-KeyAuthenticator.php</h3>

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Type
            </td>
            <td>
                Php symfony Authenticator Class
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                <strong style="color:green">Active.</strong>
            </td>
        </tr>
        <tr>
            <td>
                Recomended folder
            </td>
            <td>
                src/Security
            </td>
        </tr>
        <tr>
            <td>
                Recomended Project
            </td>
            <td>
                php symfony project
            </td>
        </tr>
        <tr>
            <td>
                Recomended project type
            </td>
            <td>
                php symfony 5.3 (or hight) project
            </td>
        </tr>
        <tr>
            <td>
                Generator group
            </td>
            <td>
                View level
            </td>
        </tr>
    </table>


    <h4>
        <strong>
            <u>Remark</u>
        </strong>
    </h4>
    Consult "Using the new Authenticator-based Security"-article of Symfony Docs for details.
    KeyAuthenticator is used by php Web app to authenticate the user with JWT token.

    Before generating current class the symfony security "User"-class must be defined in the php project.
</body>
</html>