<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Readme for 00760-App.xaml.cs</title>
</head>
<body>
    <h3>(Context level) 00760-App.xaml.cs</h3>

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Type
            </td>
            <td>
                C# code behind of the FlyoutPage definition
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                <strong style="color:green">Active.</strong>
            </td>
        </tr>
        <tr>
            <td>
                Recomended folder
            </td>
            <td>
                /Views
            </td>
        </tr>
        <tr>
            <td>
                Recomended Project
            </td>
            <td>
                Prism App
            </td>
        </tr>
        <tr>
            <td>
                Recomended project type
            </td>
            <td>
                Prism application
            </td>
        </tr>
        <tr>
            <td>
                Generator group
            </td>
            <td>
                Context level
            </td>
        </tr>
    </table>


    <h4>
        <strong>
            <u>Remark</u>
        </strong>
    </h4>
    Using <br>
    00696-MainWindow.xaml.cs<br>
    00698-MainWindow.xaml<br>
    00700-MainWindowViewModel.cs<br>
    the developer creates a custom window that implements Prism shell window.
</body>
</html>