<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Readme for 01340-Controller.php</title>
</head>
<body>
    <h3>(Context level) Readme for 01340-Controller.php</h3>

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Type
            </td>
            <td>
                Php Controller Class
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                <strong style="color:green">Active.</strong>
            </td>
        </tr>
        <tr>
            <td>
                Recomended folder
            </td>
            <td>
                /Controller
            </td>
        </tr>
        <tr>
            <td>
                Recomended Project
            </td>
            <td>
                php symfony project
            </td>
        </tr>
        <tr>
            <td>
                Recomended project type
            </td>
            <td>
                php
            </td>
        </tr>
        <tr>
            <td>
                Generator group
            </td>
            <td>
                View level
            </td>
        </tr>
    </table>


    <h4>
        <strong>
            <u>Remark</u>
        </strong>
    </h4>
    "01340-Controller.php" contains two scripts: "Controller.Symfony.MySql.php.t4" and "Controller.UserMask.Symfony.MySql.php.t4".
    <p>
        With "Controller.Symfony.MySql.php.t4"-script you generate php CRUD-operations for the given ViewModel.
    <p>
        With "Controller.UserMask.Symfony.MySql.php.t4" you generate two methods:
    <p>
        - getcurrusermasks: Right after login the client app sends the request for security bitmap mask vector for the given user.
    <p>
        - getwithfilter: The Admin-User sends the request for security bitmap mask vector for the selected user.
    <p>

</body>
</html>