<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Readme for 00210-WebServiceFilterDef.cs</title>
</head>
<body>
    <h3>(Context level) Readme for 00210-WebServiceFilterDef.cs</h3>

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Type
            </td>
            <td>
                C# data class
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                <strong style="color:green">Active.</strong>
            </td>
        </tr>
        <tr>
            <td>
                Recomended folder
            </td>
            <td>
                /Classes
            </td>
        </tr>
        <tr>
            <td>
                Recomended Project
            </td>
            <td>
                /shared/CommonWpfUserControlLibrary  (Wpf User Control Library)
            </td>
        </tr>
        <tr>
            <td>
                Recomended project type
            </td>
            <td>
                Wpf User Control Library
            </td>
        </tr>
        <tr>
            <td>
                Generator group
            </td>
            <td>
                Context level
            </td>
        </tr>
    </table>


    <h4>
        <strong>
            <u>Remark</u>
        </strong>
    </h4>
    Interface is used by the following component:

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Component
            </td>
            <td>
                00244-WebServiceFilterUserControl.xaml
            </td>
        </tr>
    </table>

</body>
</html>