<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Readme for 00708-RegisterUserControl.xaml</title>
</head>
<body>
    <h3>(Context level) Readme 00708-RegisterUserControl.xaml</h3>

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Type
            </td>
            <td>
                Xaml definition of the UserControl
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                <strong style="color:green">Active.</strong>
            </td>
        </tr>
        <tr>
            <td>
                Recomended folder
            </td>
            <td>
                /UserControls
            </td>
        </tr>
        <tr>
            <td>
                Recomended Project
            </td>
            <td>
                /shared/CommonServicesModule    (Common Prism Module for the app)
            </td>
        </tr>
        <tr>
            <td>
                Recomended project type
            </td>
            <td>
                Prism Module
            </td>
        </tr>
        <tr>
            <td>
                Generator group
            </td>
            <td>
                Context level
            </td>
        </tr>
    </table>


    <h4>
        <strong>
            <u>Remark</u>
        </strong>
    </h4>
    Using <br>
    00706-RegisterUserControl.xaml.cs<br> 
    00708-RegisterUserControl.xaml<br>  
    00710-RegisterViewModel.cs<br>
    the developer creates a custom control that implements the registration form on the AspNet server.
</body>
</html>