<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>00378-Responsebindingmodel.cs</title>
</head>
<body>
    <h3>(Context level) Readme for 00378-Responsebindingmodel.cs</h3>

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Type
            </td>
            <td>
                Backend service
            </td>
        </tr>
        <tr>
            <td>
                Recomended folder
            </td>
            <td>
                "AspNet" under View Models C# project
            </td>
        </tr>
        <tr>
            <td>
                Generator group
            </td>
            <td>
                Context level
            </td>
        </tr>
        <tr>
            <td>
                <strong>File type</strong>
            </td>
            <td>
                C# View Model
            </td>
        </tr>
    </table>
    <strong>
        Remark:
    </strong>
    This C# class will be used by Security Controller to send responce to the client.






</body>
</html>