<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Readme for 00716-LoginViewModel.cs</title>
</head>
<body>
    <h3>(Context level) Readme 00716-LoginViewModel.cs</h3>

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Type
            </td>
            <td>
                C# ViewModel class
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                <strong style="color:green">Active.</strong>
            </td>
        </tr>
        <tr>
            <td>
                Recomended folder
            </td>
            <td>
                /ViewModels
            </td>
        </tr>
        <tr>
            <td>
                Recomended Project
            </td>
            <td>
                /shared/CommonServicesModule    (Common Prism Module for the app)
            </td>
        </tr>
        <tr>
            <td>
                Recomended project type
            </td>
            <td>
                Prism Module
            </td>
        </tr>
        <tr>
            <td>
                Generator group
            </td>
            <td>
                Context level
            </td>
        </tr>
    </table>


    <h4>
        <strong>
            <u>Remark</u>
        </strong>
    </h4>
    Using <br>
    00712-LoginUserControl.xaml.cs<br>
    00714-LoginUserControl.xaml<br>
    00716-LoginViewModel.cs<br>
    the developer creates a custom control that implements the login form on the AspNet server.
</body>
</html>