<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Readme for 01200-Page.interface.cs</title>
</head>
<body>
    <h3>(Context level) Readme for 01200-Page.interface.cs</h3>

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Type
            </td>
            <td>
                C# Model Page Interface
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                <strong style="color:green">Active.</strong>
            </td>
        </tr>
        <tr>
            <td>
                Recomended folder
            </td>
            <td>
                /XXX  (where XXX is a name of the given View)
            </td>
        </tr>
        <tr>
            <td>
                Recomended Project
            </td>
            <td>
                /shared/ModelInterfaces  (Class Library)
            </td>
        </tr>
        <tr>
            <td>
                Recomended project type
            </td>
            <td>
                Class Library
            </td>
        </tr>
        <tr>
            <td>
                Generator group
            </td>
            <td>
                View level
            </td>
        </tr>
    </table>


    <h4>
        <strong>
            <u>Remark</u>
        </strong>
    </h4>
    01200-Page.interface.cs is used by 01400-.service.cs to implement sending/receiving back-end data for the given view.<p />
    Current class(interface) references the following classes and interfaces for the given view:
    <table cellspacing="5" border="1">
        <tr>
            <td>
                Interface
            </td>
            <td>
                01100-Interface.cs
            </td>
        </tr>
    </table>


</body>
</html>