<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Readme for 00282-ProxyUserControl.xaml</title>
</head>
<body>
    <h3>(Context level) Readme for 00282-ProxyUserControl.xaml</h3>

    <table cellspacing="5" border="1">
        <tr>
            <td>
                Type
            </td>
            <td>
                Xaml definition of the UserControl
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                <strong style="color:green">Active.</strong>
            </td>
        </tr>
        <tr>
            <td>
                Recomended folder
            </td>
            <td>
                /UserControls
            </td>
        </tr>
        <tr>
            <td>
                Recomended Project
            </td>
            <td>
                /shared/CommonServicesPrismModule  (Common Prism Module for the app)
            </td>
        </tr>
        <tr>
            <td>
                Recomended project type
            </td>
            <td>
                Prism Module
            </td>
        </tr>
        <tr>
            <td>
                Generator group
            </td>
            <td>
                Context level
            </td>
        </tr>
    </table>


    <h4>
        <strong>
            <u>Remark</u>
        </strong>
    </h4>
    It Is used by Feature user controls

</body>
</html>